@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default theme (Light) */
/* ant.design/docs/spec/colors -> neutral color palette*/
/* primary: rgb(49, 190, 203) 100% */
/* secondary: neutral color palette */
[data-theme="light"] {
    --color-bg: #f0f0f0;
    /* --color-bg-aside: #273b40; */
    --color-bg-aside: #fafafa;
    --color-bg-nav: #f0f0f0;
    --color-bg-post-card: #fafafa;
    --color-bg-post-reaction: #f5f5f5;
    --color-bg-comment-card: #f5f5f5;
    --color-bg-input-text: #fafafa;
    --color-bg-input-text-hover: #ffffff;
    --color-bg-tile: #fafafa;
    --color-bg-tile-hover: #f5f5f5;

    --color-bg-twitch: #f5f5f5;

    --color-border: #d9d9d9;
    --color-border-focus: #bfbfbf;
    --color-shadow: #bfbfbf;

    --color-text: #141414;
    --color-text-light: #8c8c8c;
    --color-placeholder: #8c8c8c;

    --color-primary: #31becb;
    --color-primary-hover: #57d2d9;

    --color-secondary: #d9d9d9;
    --color-secondary-hover: #bfbfbf;

    --font-sans: ui-sans-serif, system-ui, sans-serif;

    --color-bg-add: #fafafa;
}

/* Dark theme */
/* primary: rgb(73,171,147) */
[data-theme="dark"] {
    --color-bg: #1f1f1f;
    --color-bg-aside: #141414;
    --color-bg-nav: #262626;
    --color-bg-post-card: #141414;
    --color-bg-post-reaction: #1f1f1f;
    --color-bg-comment-card: #1f1f1f;
    --color-bg-input-text: #141414;
    --color-bg-input-text-hover: #000000;
    --color-bg-tile: #141414;
    --color-bg-tile-hover: #262626;
    --color-bg-twitch: #141414;

    --color-border: #262626;
    --color-border-focus: #000000;
    --color-shadow: #262626;

    --color-text: #f0f0f0;
    --color-text-light: #8c8c8c;
    --color-placeholder: #bfbfbf;

    --color-primary: #49ab93;
    --color-primary-hover: #328573;

    --color-secondary: #434343;
    --color-secondary-hover: #595959;

    --font-sans: ui-sans-serif, system-ui, sans-serif;

    --color-bg-add: #1f1f1f;
}
/* Dark theme */
/* primary: rgb(73,171,147) */
[data-theme="dark-purple"] {
    --color-bg: #1f1f1f;
    --color-bg-aside: #141414;
    --color-bg-nav: #262626;
    --color-bg-post-card: #141414;
    --color-bg-post-reaction: #1f1f1f;
    --color-bg-comment-card: #1f1f1f;
    --color-bg-input-text: #141414;
    --color-bg-input-text-hover: #000000;
    --color-bg-tile: #141414;
    --color-bg-tile-hover: #262626;
    --color-bg-twitch: #141414;

    --color-border: #3b2d58;
    --color-border-focus: #8f60ff;
    --color-shadow: #442b7a;

    --color-text: #e2d9f3;
    --color-text-light: #a693cc;
    --color-placeholder: #a693cc;

    --color-primary: #8f60ff;
    --color-primary-hover: #a280ff;

    --color-secondary: #3a2e54;
    --color-secondary-hover: #5a3f8c;

    --font-sans: ui-sans-serif, system-ui, sans-serif;

    --color-bg-add: #1a1528;
}
/* Neon theme */
[data-theme="neon"] {
    --color-bg: #1f1f1f;
    --color-bg-aside: #141414;
    --color-bg-nav: #262626;
    --color-bg-post-card: #141414;
    --color-bg-post-reaction: #fafafa;
    --color-bg-comment-card: #1f1f1f;
    --color-bg-input-text: #141414;
    --color-bg-input-text-hover: #000000;
    --color-bg-tile: #141414;
    --color-bg-tile-hover: #262626;
    --color-bg-twitch: #141414;

    --color-border: #49ab93;
    --color-border-focus: #000000;
    --color-shadow: #262626;

    --color-text: #f0f0f0;
    --color-text-light: #8c8c8c;
    --color-placeholder: #bfbfbf;

    --color-primary: #49ab93;
    --color-primary-hover: #328573;

    --color-secondary: #434343;
    --color-secondary-hover: #595959;

    --font-sans: ui-sans-serif, system-ui, sans-serif;

    --color-bg-add: #1f1f1f;
}
